[user]
  email = vagiz.d@gmail.com
  name = vduseev
[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore
[github]
  user = vduseev
[ghi]
  token = !security find-internet-password -a vduseev -s github.com -l 'ghi token' -w
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[credential]
  helper = osxkeychain
[push]
  default = simple
[alias]
  ga = add
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
